*{
    padding: 0;
    margin: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
    /* padding: 20px; */

}
.row{
    border: 2px solid green;
    height: 800px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* gap:20px; */
    flex-direction:column;

}

.red, .blue, .green{
    width:200px;
    height: 200px;
}

.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}

