*{
    margin:0px;
    padding:0px;
}
.container{
    width:80%;
    margin: 0px auto;
    border: solid 2px red;
    display:flex;
    flex-direction:column;
    align-items:center;
}
form{
    display:flex;
    flex-direction: column;
}